<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1016501555276-go4so0hul6d2pfntmari6ftb6e620tpa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1016501555276-go4so0hul6d2pfntmari6ftb6e620tpa</string>
	<key>API_KEY</key>
	<string>AIzaSyBC_Pi789rMK0-1PlToUDop2zzy04hUhew</string>
	<key>GCM_SENDER_ID</key>
	<string>1016501555276</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aii.bluetoothprox</string>
	<key>PROJECT_ID</key>
	<string>beacons-1fd46</string>
	<key>STORAGE_BUCKET</key>
	<string>beacons-1fd46.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1016501555276:ios:e385c1547730411f</string>
	<key>DATABASE_URL</key>
	<string>https://beacons-1fd46.firebaseio.com</string>
</dict>
</plist>